body {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0px;
}

#cabecera {
    background-color: red;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #4d4d4d;
}

#container h1{
    font-size: 20px;
    font-weight: bold;
    color: red !important;
}